/* BODY */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0%;
    /* 7px 80px */
    background: #4cacec;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-width: 350px;

}

header .nav {
    display: flex;
    align-items: center;
}

header .nav li {
    list-style: none;
    margin: 0.625rem;
    /* 10px */
}

header .nav li a {
    color: white;
    text-decoration: none;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
    border-radius: 0.3125rem;
    /* 5px */
}

header .nav li a:hover {
    background: #ef1a7d;
    color: #310f22;
    box-shadow: 0 0 0.625rem #ef1a7d;
    /* 10px */
}

header .action .searchBx {
    padding: 0.3125rem;
    /* 5px */
    margin: 0.3125rem;
    /* 5px */
    background: white;
    border-radius: 0.3125rem;
    /* 5px */
    display: flex;
    align-items: center;
}

header .action .searchBx i {
    font-size: 1.4rem;
    /* 22.4px */
    margin: 0.3125rem;
    /* 5px */
    color: #310f22;
}

header .action .searchBx input {
    outline: none;
    border: none;
    font-size: 1rem;
    color: #310f22;
}


/* MEDIO */
.content {
  display: grid;
  place-items: center;   /* centra en ambos ejes */
  min-height: 100vh;
  background: #f5f5f5;
  padding-top: 6rem;
}




footer {
    height: auto;
    min-height: 70px;
    width: 100%;
    padding: 1rem 5rem;
    background: #4cacec;
    display: flex;
    align-items: center;
    transition: 0.5s;
    box-sizing: border-box;
}

footer .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}

footer .info img {
    color: white;
    max-width: 50px;
}

footer .info p {
    color: #f0f0f0;
    margin: 0;
}

footer .info a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

footer .info a:hover {
    text-decoration: underline;
}

footer .info ul {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

footer .info ul li {
    list-style: none;
    height: 2.5rem;
    width: 2.5rem;
    margin: 0 0.313rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    transition: 0.3s;
}

footer .info ul li:hover {
    background: white;
}

footer .info ul li a i {
    font-size: 1.5em;
    color: white;
    transition: 0.3s;
}

footer .info ul li:hover a i {
    color: #4cacec;
}