body {
    margin: 0;
    padding: 80px 0 0 0;
    box-sizing: border-box;
}

/* MAIN */

.form-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

form {

    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;

}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;

}

h2 {
    color: cornflowerblue;
    font-size: 35px;

}

label {
    color: blue;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input,
textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    border: 2px solid #f0faf1;
    color: blue;
    outline: none;
}

.form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.form-txt a {
    color: blue;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.newsletter-option {
    align-self: flex-start;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.nwsl-checkbox {
    padding: 0;
    margin-bottom: 0;
    margin-right: 10px;
    height: 18px;
    width: 18px;
    border: 2px solid #868d87;
    background-color: white;
    border-radius: 4px;
}

.newsletter-option label {
    margin-bottom: 0;
    font-weight: normal;
}

.btn {
    font-size: 16px;
    color: #FFFFFF;
    border: 0;
    border-radius: 25px;
    background-color: #0047AB;
    box-shadow: 0 0 20px rgba(191, 227, 252, 1);
    cursor: pointer;
}

.btn:hover {
    background-color: #FF7750;
    box-shadow: 0 0 0.625rem #fa5c23;

}


/* MEDIA QUERIES PARA RESPONSIVE */

/* Tablets */
@media (max-width: 768px) {

}

/* Móviles */
@media (max-width: 480px) {

}

/* Para pantallas muy grandes */
@media (min-width: 1200px) {

}